<div class="container">
    <div class="jumbotron bg-dark">
      <h1 class="display-4 display-4 font-italic text-white" id="f-page-articles"> 
        <% if params[:feed_type] == 'most_read' %>
          Most read articles
        <% elsif params[:feed_type] == 'most_recent' %>
          Recent articles from the world
        <% else %>
          Trending by category
        <% end %>
      </h1>
  </div>

    <%= render 'article', obj: @articles %>

</div>
