@import 'bootstrap/dist/css/bootstrap';
@import "bootstrap-sprockets";
@import "bootstrap";




#nav-container{
  padding: 0px; //Up and down
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 229, 229); // The grey line in the header
}

.navbarDropdown{
  float: right;
}

.nav-link { //nav link where profile name is
    color: grey !important;
}

#navbar-under {
    padding: .5rem!important;
    padding-top: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
}

#page-content {
  flex: 1 0 auto;
  background-color: white;
  
}

#f-page-articles{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.row { 
    margin-left: 0px;
    margin-right: 0px;
}

#logo {
 font-family: "Playfair Display", Georgia, "Times New Roman", serif;
 font-size: 2.25rem;
 float: left;
 font-size: 1.7em;
 color: #343a40!important;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

#homecontainer {
  margin-top: 25px ;
  color: white;
}

.jumbotron {
  background-image: asset-url('glenn-carstens-peters-P1qyEf1g0HU-unsplash');
  background-position: center center;
  background-repeat: no-repeat;
  background-cover: cover;
  height: 425 px;
}

html,
body {
  height: 100%;
} 

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-body {
  width: full;
  border: 10;
}


#sticky-footer {
    bottom: 0;
    width: 100%;
}



.field_with_errors {
 position: none;
}


.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    
    
  .flickr_pagination nav {
    display: flex;
    justify-content: center;
  }
  
  
#article-title {
  font-size: 2.75rem;
  color: #000000;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 600;
  line-height: 1.2;
}


.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 10%;
    border: 1px solid #ced4da;
    margin-bottom: 6%;
    
}
.form-control{
    border-radius: 1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius: 1.5rem;
    margin-top: 15px;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.btnLogin
{
    
    border-radius: 1rem;
    padding: 3%;
    width: 50%;
    cursor: pointer;
    background: white;
    color: black;
}

.form-group {
    margin-bottom: 1.56rem;
}