@import 'bootstrap/dist/css/bootstrap';


.navbar {

background-color: black !important;


}

.nav-link { 
  color: white !important;
}

#page-content {
  
  background-color: lightgrey;
}

#logo {
 float: left;
 font-size: 1.7em;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

#homecontainer {
  margin-top: 25px ;
  color: white;
}

.jumbotron {
  background-image: asset-url('glenn-carstens-peters-P1qyEf1g0HU-unsplash');
  background-position: center center;
  background-repeat: no-repeat;
  background-cover: cover;
  height: 425 px;
}


.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-body {
  width: full;
  border: 10;
}


#footer {
  color: red;
}

.field_with_errors {
 position: none;
}