@import 'bootstrap/dist/css/bootstrap';
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {

background-color: black !important;


}

.nav-link { 
  color: white !important;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
  
}

#logo {
 float: left;
 font-size: 1.7em;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

#homecontainer {
  margin-top: 25px ;
  color: white;
}

.jumbotron {
  background-image: asset-url('glenn-carstens-peters-P1qyEf1g0HU-unsplash');
  background-position: center center;
  background-repeat: no-repeat;
  background-cover: cover;
  height: 425 px;
}

html,
body {
  height: 100%;
} 

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-body {
  width: full;
  border: 10;
}


#sticky-footer {
    bottom: 0;
    width: 100%;
}



.field_with_errors {
 position: none;
}


.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    
    
  .flickr_pagination nav {
    display: flex;
    justify-content: center;
  }